h1{
  font-family: $open-sans;
  font-weight: $bold;  
  font-size: $xxxxx-large;
  color:$raisin-black;
  line-height: 4rem;
}

h2{
    font-family: $open-sans;
    font-weight: $bold;  
    font-size: $xxx-large;
    color:$raisin-black;
  }

h3{
    font-family: $open-sans;
    font-weight: $bold;  
    font-size: $x-large;
    color:$raisin-black;
}

h4{
    font-family: $open-sans;
    font-weight: $regular;  
    font-size: $x-large;
    color:$raisin-black;
}

p{
    font-family:$open-sans;
    font-weight: $regular;
    font-size: $x-small;
    color:$raisin-black;
    line-height: 1.5rem;
}

