.header__text{
    padding-top:50px;
    padding-left: 50px;
    //CORREGIR Y NO HACER ESPACIO CON PADDING LEFT;
    max-width:400px;
    position: absolute;
    z-index:10;
}

header{
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
    img{
        width:100%;
        position: relative;
        margin-top:50px;
    }
}

//QUERIES
@media only screen and(max-width: 768px) {
    header img{
        margin-top:200px;
}
}