.header__text{
    padding-top:50px;
    padding-left: 50px;
    //CORREGIR Y NO HACER ESPACIO CON PADDING LEFT;
    max-width:400px;
    position: absolute;
    z-index:10;
}

header .header__img{
    width:100%;
    object {
        width:100%;
        img{
        width:100%;
        position: relative;
        margin-top:50px;
        }
    }
}

//QUERIES
@media only screen and(max-width: 768px) {
    .header__img{
        margin-top:300px;
    }
}

@media only screen and(max-width: 992px) {
    header .header__img{
        margin-top:100px;
}
}