.navbar {
    background-color:$white;
    width: 100%;
    z-index: 3;
    display:flex;
} 

.navbar ul {
    margin: 0;
    padding-top: 20px;
    list-style: none;
    overflow: hidden;
    background-color: $white;
}

.navbar li {
    font-size: $x-small;
    a {
        padding: 20px 20px;
        text-decoration: none;
        color:$raisin-black;
        font-family: $raleway;
    }
}

.navbar li a:hover,
.navbar .menu-btn:hover {
    background-color: $white;
    text-decoration: underline;
}

.navbar .logo {
    display: flex;
    float: left;
    color: $raisin-black;
    font-size: $xxxx-large;
    padding: 20px;
    text-decoration: none;
    font-family: $open-sans;
    font-weight: bold;
    span{
        font-size:12px;
        padding-top: 7px;
    }
}

/* menu */

.navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
    display: inline-block;
    //float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.navbar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar .menu-icon .navicon:before {
    top: 5px;
}

.navbar .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.navbar .menu-btn {
    display: none;
}

.navbar .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
.navbar li {
    float: left;
}
.navbar li a {
    padding: 20px 30px;
}
.navbar .menu {
    clear: none;
    float: right;
    max-height: none;
}
.navbar .menu-icon {
    display: none;
}
}
